<div class="center jumbotron">
  <h1>勤怠システム</h1>
  <h2>
    アカウントの作成はこちら
    <a href="https://railstutorial.jp/">こちら</a>から
  </h2>

  <%= link_to "ログイン!", signup_path, class: "btn btn-lg btn-primary" %>
</div>